# Feature Engineering: Feature Creation

### Read in text

In [4]:
import pandas as pd

data = pd.read_csv("SMSSpamCollection.tsv", sep='\t')
data.columns = ['label', 'body_text']

data.head()

  label                                          body_text
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...
1   ham  Nah I don't think he goes to usf, he lives aro...
2   ham  Even my brother is not like to speak with me. ...
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
4   ham  As per your request 'Melle Melle (Oru Minnamin...

### Create feature for text message length

In [8]:
data['body_len'] = data['body_text'].apply(lambda x: len(x) - x.count(" "))
data.head()

  label                                          body_text  body_len
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...       128
1   ham  Nah I don't think he goes to usf, he lives aro...        49
2   ham  Even my brother is not like to speak with me. ...        62
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!        28
4   ham  As per your request 'Melle Melle (Oru Minnamin...       135

### Create feature for % of text that is punctuation

In [ ]:
import string

def count_punct(text):
    count = sum([1 for char in text if char in string.punctuation])
    return round(count/(len(text) - text.count(" ")), 3)*100

data['punct%'] = data['body_text'].apply(lambda x: count_punct(x))

data.head()

### Evaluate created features

In [ ]:
from matplotlib import pyplot
import numpy as np
%matplotlib inline